header {
    background-color: #f0ffff;
    padding: 16px 0;
    height: 150px;
    margin: 0%;

}

header h1 {
    color: black;
    font-size: 40px;
    font-weight: 100;
    align-items: center;
    display: inline-block;
    position: relative;
    bottom: 70px;
    margin-left: 10px;
}